<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projukti Shop</title>
</head>
<body>
    {% extends 'contact.html' %}

    {% block content %}

    <h1>{{course}} course is run by {{title}} {{name}}</h1>

    <form action="add" method="POST">
        {% csrf_token %}
        Enter 1st Number: <input type="text" name="num1"><br>
        Enter 2nd Number: <input type="text" name="num2"><br>
        <input type="submit">
    </form>

    {% endblock %}
</body>
</html>